body {
    background-color: #0B2027;
    color: #F6F1D1; /*texto*/
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .text-container {
    margin-bottom: 20px; 
}


h2 {
    font-size: 35px; 
    text-align: center;
    margin: 0;
    color: #F6F1D1;
}


.box-line {
    width: 500px;
    height: 40px;
    background-color: #F6F1D1;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #0B2027;
    font-size: 16px;
    text-align: center;
}


.answer-box {
    padding-top: 40px;
    margin-bottom: 20px; 
}

.answer-box input {
    width: 300px; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #40798C;
    font-size: 16px;
    text-align: center; 
    background-color: #CFD7C7; 
    color: #0B2027; 
    transition: border-color 0.3s ease; 
}


.answer-box input:focus {
    border-color: #70A9A1; 
    outline: none;
}



  .button-container {
    text-align: center;
    display: flex;
    gap: 20px;
  }
  

.box-line-2,
.box-line-3 {
    display: none; 
}


.box-line-1 {
    background-color: #F6F1D1;
    color: #0B2027;
    border-radius: 5px;
    padding: 10px 200px;
    margin: 10px;
}

.box-line-2,
.box-line-3 {
    background-color: #F6F1D1;
    color: #0B2027;
    border-radius: 5px;
    padding: 10px 200px;
    margin: 10px;
}
  
  .btn {
    background-color: #40798C; 
    color: #F6F1D1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .btn:hover {
    background-color: #70A9A1;
  }

  